extends ./layout.jade

block content

  script.
    var method= "#{method}";
    var from= "#{from}";
    var to= "#{to}";
  script(type="text/javascript", src="/js/list-executiontime-range.js")

  form.form(action="/function/fromto", method="GET")
    input(id="from", name="from", type="datetime-local", placeholder="Date from", value=from)
    input(id="to", name="to", type="datetime-local", placeholder="Date to", value=to)
    button(id="btn", type="submit") Submit
  
  ul.key

  div#container

  //script(type="text/javascript", src="/js/jquery-2.1.1.min.js")
  //script(src="http://code.highcharts.com/highcharts.js")
  //script(src="/js/graph.js")
